body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box !important;
	color: black !important;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.5 !important;
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility;
	transition: background-color 2s ease-out;
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 50px;
}

.App-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: #222;
	height: 150px;
	margin-bottom: 50px;
	color: white;
}

.App-react-app {
	display: flex;
	align-self: center;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#quote-box {
	width: 70%;
	max-width: 700px;
	height: 300px;
	padding: 30px;
	margin-top: 20px;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 5px 20px 5px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}

#quote-box hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0px;
  padding: 0;
}

.QuoteBox-quote {
	display: flex;
	flex: 3;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s ease-out;
}

.QuoteBox-quote.fadein {
	opacity: 1;
}

.QuoteBox-quote #text {
	font-size: 1.6em;
}

.QuoteBox-quote #author {
	font-size: 1.4em;
	text-align: right;
}

.QuoteBox-controls {
	display: flex;
	flex: 1;
	padding: 15px;
	margin-top: 20px;
	align-items: center;
	justify-content: space-evenly;
}

.QuoteBox-controls #new-quote {
	color: white;
	background-color: #d8590e;
  	padding: 10px 15px;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 10px;
	font-weight: bold;
	transition: color 0.5s ease;
	transition: background-color 0.5s ease;
	user-select: none;
}

.QuoteBox-controls #new-quote:hover {
	color: #d8590e;
	background-color: white;
}

.QuoteBox-controls #new-quote:focus {
	outline: none;
}

.tweet-button {
	color: white;
	background-color: #1b95e0;
  	padding: 10px 15px;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 10px;
	font-weight: bold;
	transition: color 0.5s ease;
	transition: background-color 0.5s ease;
	outline: none;
	text-decoration: none;
	user-select: none;
}

@media screen and (max-width: 375px) { 

	.App-header {
		height: 130px;
		margin-bottom: 30px;
	}

	.App-title {
		margin-bottom: 10px;
		margin-top: 0px;
	}

	#quote-box {
		height: 250px;
		width: 80%;
		padding: 15px;
	}
	.QuoteBox-quote #text {
		font-size: 1em;
	}

	.QuoteBox-quote #author {
		font-size: 1.1em;
	}

	.QuoteBox-controls #new-quote,
	.tweet-button {
		font-size: 0.8em;
	}

	.QuoteBox-controls {
		margin-top: 10px;
	}
}