@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i');
@import url('./css/User.css');

:root {
  --white: #ffffff;
  --black: #172241;
  --gray: #f4f7f6;
  --gray-dark: #6c7680;
  --teal: #4bc95c;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: var(--black);
  text-align: left;
  background-color: var(--gray);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

p {
  color: var(--gray-dark);
}

.tags {
  color: var(--teal);
}

h1 {
  color: var(--teal);
  font-weight: 400;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  max-width: 1400px;
  margin: 2rem auto;
}

.flex-container > * {
  padding: 15px;
  flex: 1 100%;
}

header {
  display: flex;
  text-align: center;
}

input[type='search'],
input[type='text'] {
  font-size: 1rem;
  font-weight: 300;
  background-clip: padding-box;
  transition: all 0.2s ease;
  outline: 0;
  -webkit-appearance: none;
  width: 100%;
  resize: none;
  padding: 1rem;
  border: 1px solid var(--gray);
  margin-bottom: 2rem;
}

input:hover,
input:focus {
  transition: all 0.2s ease;
  cursor: auto;
  border: 1px solid var(--teal);
}

.app-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1rem;
}
