.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#drum-machine {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 700px;
  margin: 0 auto;
}

#drum-machine > div {
  padding: 20px;
}

#drumPads {
  display: flex;                       /* establish flex container */
  width: 55%;
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: center;
  
}
.drum-pad {
  display: flex;
  justify-content: center;
  flex: 0 0 30%;                       /* don't grow, don't shrink, width */
  height: 100px;
  margin: 5px;
  border-radius: 10px;
  background-color: #999;
  box-shadow: black 3px 3px 5px;
}

.drum-pad span {
  align-self: center;
  font-weight: 800;
  font-style: bold;
}

.drum-pad.hover {
  box-shadow: none;
  margin-bottom: 0px;
  margin-top: 10px;
  background-color: #3ed650;
}