.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 50px;
}

.App-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: #222;
	height: 150px;
	padding: 20px;
	margin-bottom: 50px;
	color: white;
}

.App-react-app {
	display: flex;
	align-self: center;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#drum-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: left;
	max-width: 600px;
	margin: 0 auto;
	background-image: linear-gradient(to bottom left, #000000, #757575);
	border-radius: 10px;
	box-shadow: black 3px 3px 5px;
	color: white;
}

#drum-machine {
	display: flex;
	justify-content: center;
	align-content: center;
}

#drum-machine > div {
	padding: 20px;
}

#drumPads {
	display: flex; /* establish flex container */
	width: 63%;
	flex-wrap: wrap; /* enable flex items to wrap */
	justify-content: center;
}

#brand {
    margin-top: 10px;
	margin-left: 15px;
	text-align: left;
	font-size: 1.2em;
	font-weight: 800;
	font-style: italic;
	letter-spacing: 0.1em;
}

.drum-pad {
	display: flex;
	justify-content: center;
	flex: 0 0 30%; /* don't grow, don't shrink, width */
	height: 100px;
	margin: 5px;
	border-radius: 10px;
	background-color: #616161;
	box-shadow: #de0000 3px 3px 5px;
	color: black;
	cursor: pointer;
}

.drum-pad span {
	align-self: center;
	font-weight: 800;
}

.drum-pad.hover {
	box-shadow: none;
	margin-bottom: 0px;
	margin-top: 10px;
	background-image: radial-gradient(circle, white, #62ff00, #00ff14);
}

#display,
#display > div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#display .title {
	font-size: 1.1em;
	font-weight: 800;
	font-style: italic;
	letter-spacing: 0.1em;
	margin-bottom: 5px;
}

#display .info {
	background: #942727;
	border-radius: 5px;
	padding: 5px 0px;
}

#drum-volume {
	user-select: none;
	cursor: pointer;
	outline: none;
	width: 100%;
	height: 10px;
	border-radius: 5px;   
	background: #9e9e9e;
	transition: opacity .2s;
	-webkit-appearance: none;
}

#drum-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 9px;
    height: 29px;
    border: 0;
    background: url('volume.png') no-repeat;
    background-size: 9px 29px;
    cursor: pointer;
}

#drum-volume::-moz-range-thumb {
    width: 9px;
    height: 29px;
    border: 0;
    background: url('volume.png') no-repeat;
    background-size: 9px 29px;
    cursor: pointer;
}

#style-arrows {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

#arrowButton {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
	height: 50px;
	width: 50px;
	border-radius: 50%;
    border: 4px solid black;
    background-color: #616161;
    box-shadow: #04ff00 2px 2px 5px;
	cursor: pointer;
	outline: none;
	user-select: none;
	-webkit-appearance: none;
}

#arrowButton div {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}

.arrow-left {
	border-right: 15px solid #222222;
	margin-right: 5px;
}

.arrow-right {
	border-left: 15px solid #222222;
    margin-left: 5px;
}

.arrow-left.hover {
	border-right: 15px solid #04ff00;
}

.arrow-right.hover {
	border-left: 15px solid #04ff00;
}

#arrowButon .arrow-left {
	margin-right: 10px;
}

#arrowButon .arrow-right {
	margin-left: 10px;
}

@media screen and (max-width: 650px) {
	#drum-container {
		max-width: 500px;
	}

	.drum-pad {
		flex: 0 0 29%;
	    height: 80px;
	}
}

@media screen and (max-width: 550px) {
	#drum-container {
		max-width: 400px;
	}

	.drum-pad {
		flex: 0 0 28%;
	    height: 55px;
	}
}

@media screen and (max-width: 450px) {
	#drum-container {
		max-width: 300px;
	}

	.drum-pad {
		flex: 0 0 28%;
	    height: 45px;
	}
}


@media screen and (max-width: 370px) {
	#drum-container {
		max-width: 300px;
	}

	.drum-pad {
		flex: 0 0 27%;
	    height: 35px;
	}

	.brand {
		font-size: 1.1em;
	}

	#display .title {
		font-size: 0.9em;
	}

	#display .info {
		font-size: 0.8em;
	}

	#arrow-button {
		height: 30px;
	    width: 30px;
	}

	.arrow-left {
		border-right: 5px solid #222222;
	}

	.arrow-right {
		border-left: 5px solid #222222;
	}
}